.hero {
  & .content {
    width: 23.4375rem;
    height: 29rem;
    position: relative;

    & .main-animation {
      background-image: url(../assets/hero/book-hero-mobile.svg);
      width: inherit;
      height: inherit;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      position: absolute;
      opacity: 0;
      animation: appear-title 2s ease forwards;

    }
  }

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem 1.25rem 3rem;

    & .logo {
      background-image: url(../assets/logo-symbol.svg);
      width: 4rem;
      height: 3rem;
      background-size: cover;
    }

  }
  & .title {
    text-align: center;
    padding-inline: 1.25rem;
    opacity: 0;
    animation: appear-title 2s ease forwards;

    & h1 {
      margin-bottom: 1rem;
    }
  }
}

@media (width >= 90em) {
  .hero {
    & .content {
      width: 90rem;
      height: 59.25rem;
      position: relative;
  
      & .main-animation {
        background-image: url(../assets/hero/book-hero-desk.svg);
      }
    }

    & .header {
      padding: 3.5rem 10rem 10.25rem;

      & .logo {
        background-image: url(../assets/logo-horizontal.svg);
        width: 14.375rem;
        height: 3.625rem;
      }
    }

    & .title {
      padding-inline: 24.5rem;

      & h1 {
        margin-bottom: 2rem;
      }
    }
  }
}

@keyframes appear-title {
  0%, 33.33% {
    opacity: 0;
  }

  33.33%, 66.66% {
    opacity: 0.5;
  }

  66.66%, 100% {
    opacity: 1;
  }
}