header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.25rem 3rem;

  & .logo {
    background-image: url(../assets/logo-symbol.svg);
    width: 4rem;
    height: 3rem;
    background-size: contain;
    background-position: center;
  }

  & a {
    background-color: var(--pink-dark);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    isolation: isolate;  /* cria um novo contexto de empilhamento, ajuda a controlar como os elemento se sobrepõem. Imporante quano utilizado o z-index, garantindo que o texto fique vizivel durante a animação */
   
      &::before {
        content: "";
        position: absolute;
        background-color: var(--pink-base);
        width: inherit;
        height: inherit;
        border-radius: inherit;
        transform: scaleX(0);
        transition: transform 400ms ease;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    
      &:hover::before {
        transform: scaleX(1);
      }
  }
  
}

@media (width >= 90em) {
  header {
    padding: 3.5rem 10rem 10.25rem;

    & .logo {
      background-image: url(../assets/logo-horizontal.svg);
      width: 14.375rem;
      height: 3.625rem;
    }
  }

}