.month-kit {
  max-width: 23.4375rem;
  margin-inline: auto;
  text-align: center;

  & p {
    font-size: var(--body-md);
    line-height: 140%;
  }
  
  & .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.5rem;

    & img {
      width: 3rem;
      height: 3rem;
    }
  }

  & .kit-animation {
    position: relative;
    height: 19.9375rem;

    & p {
      font-size: 0.625rem;
    }

    & .book {
      position: absolute;
        max-width: 9.824375rem;
        height: 12.98rem; /* 12.98 */
        margin: 3.360625rem 8.121875rem 3.596875rem 5.49125rem;
    }

    & .bookmark-yellow {
      position: absolute;
      width: 3.65rem;
      height: 11.3075rem;
      top: 50%;
      left: 57%;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition: transform 500ms ease, rotate 500ms ease;
    }

    & .bookmark-purple {
      position: absolute;
      width: 3.65rem;
      height: 11.3075rem;
      left: 57%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
      transition: transform 500ms ease, rotate 500ms ease;
    }

    & .arrow-bookmark {
      position: absolute;
      width: 3.06rem;
      height: 3.75rem;
      left: 55%;
      top: 65%;
      transform: translate(-50%, -50%);
      z-index: -3;
      transition: transform 500ms ease;
    }

    & .text-bookmark {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-60%, 400%);
      z-index: -3;
      transition: transform 500ms ease;
    }

    & .pin {
      position: absolute;
      width: 4.680625rem;
      height: 5.3375rem;
      left: 50%;
      right: 50%;
      transform: translate(-110%, 200%);
      z-index: -1;
      transition: transform 500ms ease, rotate 500ms ease;
    }

    & .arrow-pin {
      position: absolute;
      width: 2.205625rem;
      height: 2.671875rem;
      left: 50%;
      top: 50%;
      transform: translate(-200%, 0%);
      z-index: -2;
      transition: transform 500ms ease;
    }

    & .text-pin {
      position: absolute;
      width: 5rem;
      left: 50%;
      right: 50%;
      transform: translate(-100%, 1100%);
      z-index: -2;
      transition: transform 500ms ease;
    }

    & .arrow-hardcover {
      position: absolute;
      width: 3.67125rem;
      height: .63125rem;
      left: 50%;
      top: 50%;
      transform: translate(-120%, -600%);
      z-index: -1;
      transition: transform 500ms ease;
    }

    & .text-hardcover {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-80%, -500%);
      z-index: -1;
      transition: transform 500ms ease;
    }

    &:hover {
      & .bookmark-yellow {
        transform: translate(15%, -75%) rotate(11.72deg);
      }

      & .bookmark-purple {
        transform: translate(70%, -50%) rotate(20deg);
      }

      & .arrow-bookmark {
        transform: translate(80%, 45%);
      }

      & .text-bookmark {
        transform: translate(10%, 950%);
      }

      & .pin {
        transform: translate(-196%, 240%) rotate(-7.55deg);
      }

      & .arrow-pin {
        transform: translate(-460%, 50%);
      }

      & .text-pin {
        transform: translate(-225%, 1150%);
      }

      & .arrow-hardcover {
        transform: translate(-245%, -1100%);
      }

      & .text-hardcover {
        transform: translate(-195%, -940%);
      }
    }
   }
 }


@media (width >= 90em) {
  .month-kit {
    max-width: 90em;

    & .head {
      margin-top: 14.6875rem;

      & img {
        width: 5rem;
        height: 5rem;
      }
    }

    & .kit-animation {
      margin-inline: auto;
      height: 57.5rem;

      & p {
        font-size: var(--body-md);
      }
      
      & .book {
          max-width: 29.1875rem;
          height: 38.5625rem; /* 38.5625 */
          margin: 8.375rem 31.25rem 10.5625rem 29.5625rem;
      }

      & .bookmark-yellow {
        width: 10.75rem;
        height: 33.5rem;
        top: 50%;
        left: 59%;
      }

      & .bookmark-purple {
        width: 10.75rem;
        height: 33.5rem;
        left: 58.5%;
        top: 50%;
      }

      & .arrow-bookmark {
        width: 9rem;
        height: 8rem;
        left: 58%;
        top: 68%;
      }

      & .text-bookmark {
        left: 59.7%;
        top: 65.7%;
      }

      & .pin {
        width: 13.8755rem;
        height: 15.875rem;
        left: 53.5%;
        top: -4%;
      }

      & .arrow-pin {
        width: 6.5rem;
        height: 8rem;
        left: 53%;
        top: 47%;
      }

      & .text-pin {
        width: 8rem;
        left: 42%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      & .arrow-hardcover {
        width: 10.875rem;
        height: 1.875rem;
        left: 50.1%;
        top: 50%;
      }

      & .text-hardcover {
        left: 50%;
        top: 50%;
        /* z-index: 0; */
      }

      &:hover {
        & .text-bookmark {
          transform: translate(10%, 1000%);
        }

        & .text-pin {
          transform: translate(-260%, -10%);
        }

        & .arrow-hardcover {
          transform: translate(-220%, -1150%);
        }

        & .text-hardcover {
          transform: translate(-320%, -1700%);
        }
      }
    }
  }

}