.month-kit {
  max-width: 23.4375rem;
  margin-inline: auto;
  text-align: center;

  & p {
    font-size: var(--body-md);
    line-height: 140%;
  }
  
  & .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.5rem;

    & img {
      width: 3rem;
      height: 3rem;
    }
  }

  & .kit-animation {
    position: relative;
    height: 19.9375rem;

    & p {
      font-size: 0.625rem;
    }

    & .book {
      position: absolute;
        max-width: 9.824375rem;
        height: auto; /* 12.98 */
        margin: 3.360625rem 8.121875rem 3.596875rem 5.49125rem;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    & .bookmark-yellow {
      position: absolute;
      width: 3.65rem;
      height: 11.3075rem;
      top: 50%;
      left: 57%;
      transform: translate(-50%, -50%);
      transition: slideBkOne;
      z-index: -1;
    }

    & .bookmark-purple {
      position: absolute;
      width: 3.65rem;
      height: 11.3075rem;
      left: 57%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
    }

    & .arrow-bookmark {
      position: absolute;
      width: 3.06rem;
      height: 3.75rem;
      left: 55%;
      top: 65%;
      transform: translate(-50%, -50%);
      z-index: -3;
    }

    & .text-bookmark {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-60%, 400%);
      z-index: -3;
    }

    & .pin {
      position: absolute;
      width: 4.680625rem;
      height: 5.3375rem;
      left: 50%;
      right: 50%;
      transform: translate(-110%, 200%);
      z-index: -1;
    }

    & .arrow-pin {
      position: absolute;
      width: 2.205625rem;
      height: 2.671875rem;
      left: 50%;
      top: 50%;
      transform: translate(-200%, 0%);
      z-index: -2;
    }

    & .text-pin {
      position: absolute;
      width: 5rem;
      left: 50%;
      right: 50%;
      transform: translate(-100%, 1100%);
      z-index: -2;
    }

    &:hover {
      & .bookmark-yellow {
        animation: slideBkOne 500ms ease forwards;
      }

      & .bookmark-purple {
        animation: slideBkTow 500ms ease forwards;
      }

      & .arrow-bookmark {
        animation: slideBkThree 500ms ease forwards;
      }

      & .text-bookmark {
        animation: slideBkFour 500ms ease forwards;
      }

      & .pin {
        animation: slidePinOne 500ms ease forwards;
      }

      & .arrow-pin {
        animation: slidePinTow 500ms ease forwards;
      }

      & .text-pin {
        animation: slidePinThree 500ms ease forwards;
      }
    }
   }
 }


@media (width >= 90em) {
  .month-kit {
    max-width: 90em;

    & .head {
      margin-top: 14.6875rem;

      & img {
        width: 5rem;
        height: 5rem;
      }
    }

    & .kit-animation {
      margin-inline: auto;

      & p {
        font-size: var(--body-md);
      }
      
      & .book {
          max-width: 29.1875rem;
          height: auto; /* 38.5625 */
          margin: 8.375rem 31.25rem 10.5625rem 29.5625rem;
      }
    }
  }
}

@keyframes slideBkOne {
  to {
    transform: translate(-30%, -75%);
    rotate: 11.72deg;
  }
}

@keyframes slideBkTow {
  to {
    transform: translate(10%, -60%);
    rotate: 20deg;
  }
}

@keyframes slideBkThree {
  to {
    transform: translate(85%, 25%);
  }
}

@keyframes slideBkFour {
  to {
    transform: translate(10%, 875%);
  }
}

@keyframes slidePinOne {
  to {
    transform: translate(-230%, 220%);
    rotate: -7.55deg;
  }
}

@keyframes slidePinTow {
  to {
    transform: translate(-460%, 50%);
  }
}

@keyframes slidePinThree {
  to {
    transform: translate(-225%, 1150%);
  }
}