#pricing {
  background-image: url(../assets/princing/pricing-background.png);
  & h4 {
    text-align: center;
  }

  & .content-pricing {
    padding: 3rem 2.72875rem 6.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    & .monthly {
      transform: scale(1);
      transition: transform 500ms ease;

      & h5 {
        color: var(--blue-light);
        margin-bottom: 1.5rem;
      }

      & h6 small {
          font-size: 1rem;
      }

      & p{
        font-size: 0.875rem;
        color: var(--text-label);
        margin-top: .5rem;
      }

      & .points-and-button{
        margin-top: auto;

        & ul {
          margin-bottom:1.5rem;
          display: flex;
          flex-direction: column;
          gap: .75rem;
  
          & li {
            font-size: .75rem;
            color: var(--text-label);
            padding-left: 1.25rem;
            background: url(../assets/princing/star-blue.svg)no-repeat left center;
            background-size: .875rem .875rem;
          }
        }
      }
    }

    & .semianual {
      transform: scale(1);
      transition: transform 500ms ease;

      & .semianual-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        & h5 {
          color: var(--pink-light);
        }

        &  p {
          font-size: .625rem;
          background-color: var(--shape-stroke);
          border-radius: 50rem;
          padding: .5625rem 1.25rem;
        }
      }

      & h6 small {
          font-size: 1rem;
      }

      & p{
        font-size: 0.875rem;
        color: var(--text-label);
        margin-top: .5rem;
      }

      & .points-and-button{
        margin-top: auto;

        & ul {
          margin-bottom:1.5rem;
          display: flex;
          flex-direction: column;
          gap: .75rem;

          & li {
            font-size: .75rem;
            color: var(--text-label);
            padding-left: 1.25rem;
            background: url(../assets/princing/star-pink.svg)no-repeat left center;
            background-size: .875rem .875rem;
          }
        }
      }
   }

   & .yearly {
    transform: scale(1);
    transition: transform 500ms ease;

    & h5 {
      color: var(--blue-light);
      margin-bottom: 1.5rem;
    }

    & h6 small {
        font-size: 1rem;
    }

    & p{
      font-size: 0.875rem;
      color: var(--text-label);
      margin-top: .5rem;
    }

    & .points-and-button{
      margin-top: auto;

      & ul {
        margin-bottom:1.5rem;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        & li {
          font-size: .75rem;
          color: var(--text-label);
          padding-left: 1.25rem;
          background: url(../assets/princing/star-blue.svg)no-repeat left center;
          background-size: .875rem .875rem;
        }
      }
     }
    }

    & .monthly:hover, .semianual:hover, .yearly:hover {
      background-color: var(--shape-hover);
      border: 1px solid var(--shape-hover);
      transform: scale(1.05);
      box-shadow: 0rem 0rem 4rem rgba(0, 25, 51, 1);
      
    }
  }
}

@media (width >=90em) {
  #pricing {
    height: 77.125rem;
    & .content-pricing {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 37.875rem;
      position: relative;


      &:hover .monthly,
      &:has(.monthly:hover) .monthly,
      &:has(.semianual:hover) .monthly,
      &:has(.yearly:hover) .monthly {
        animation: slideLeft 1s ease forwards;
      }

      &:hover .yearly,
      &:has(.monthly:hover) .yearly,
      &:has(.semianual:hover) .yearly,
      &:has(.yearly:hover) .yearly {
        animation: slideRight 1s ease forwards;
      }

      & .monthly, .semianual, .yearly {
        position: absolute;
        margin-top: 5.125rem;

      }

      & .semianual {
        z-index: 1;
        background-color: var(--shape-hover);
        border: 1px solid var(--shape-hover);
      }
        
      & .monthly:hover {
        background-color: var(--shape-hover); 
        transform: scale(1.05);
        z-index: 2;
      }

      & .monthly:hover ~ .semianual {
        background-color: var(--shape-base);
      }

      & .yearly:hover {
        background-color: var(--shape-hover);
        z-index: 2;
      }

      &:has(.yearly:hover) .semianual {
        background-color: var(--shape-base);
      }
    }
  }
}

@keyframes slideLeft {
  to {
    transform: rotate(-8deg) translate(-19rem, 1rem);
  }
}

@keyframes slideRight {
  to {
    transform: rotate(8deg) translate(19rem, 1rem);
  }
}